// Heading Color
$heading: #333333;

// Text Color
$text: #707070;

// Gray Background
$bg-gray: #f4f4f4;

// Primary Color
$primary: #00aeef;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000;

// Border Color
$border: #7450fe;

// Hover Color
$hover: #00aeef;

// Footer Color
$footer: #191c1d;

// Secondary Color
$secondary: #222222;
